td{
    width: 20px;
}
td.odd{
    background-color: rgb(81, 81, 81);
}
td.even{
    background-color: burlywood;
}
tbody{
    background-color: brown;
    text-align: center;
}
#echiquier{
    height: auto;
    width: auto;
    background: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
body { 
    height: 100%;
}
table {
    height: 15cm;
    width: 15cm;
}
img {
    height: 40px;
    width: 40px;
    z-index: 1;
}

